<!DOCTYPE html>
<html lang='en'>
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="TVK">
  <meta name="author" content="Anton Kralin">
  <title>TVK</title>
  <link href="{%static 'tvk/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'tvk/css/my.css'%}" rel="stylesheet">
</head>

<body style='padding-bottom:55px'>
    <div class="p-1"> 
        {% block content %}{% endblock %}
    </div>

    {%block footer %}
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark"> 
        <div class="container-fluid"> 
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <a class="navbar-brand" href="{%url 'tvk:main'%}">Главная</a>
                {% if user.access < 5 %}
                    <a class="navbar-brand" href="{%url 'tvk:cic' %}">Создать ТВК</a>
                {% endif %}
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Отчеты</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown10">
                        <li><a class="dropdown-item" href="{% url 'report:choose_period' %}">Сводный отчет</a></li>
                        <li><a class="dropdown-item" href="{% url 'report:contraventions' %}">Отчет по нарушениям</a></li>
                        <li><a class="dropdown-item" href="{% url 'report:checking' %}">Отчет по проверкам</a></li>
                    </ul>
                </li>
            </ul>

            <form class="d-flex">
                <ul class="navbar-nav">
                    {% if user.access < 3 %}
                    <li class="nav-item dropup">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Управление</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown10">
                            <li><a class="dropdown-item" href="{%url 'users:users'%}">Пользователь</a></li>
                            {% if user.access == 1 %}
                                <li><a class="dropdown-item" href="{%url 'tvk:department' %}">Подразделения</a></li>
                                <li><a class="dropdown-item" href="{%url 'tvk:imns' %}">Инспекции</a></li>
                                <li><a class="dropdown-item" href="{%url 'tvk:risk' %}">Риски</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{user.username}}</a>
                    </li> 
                <a class="navbar-brand" aria-current="page" href="{% url 'users:clearsession' %}">Выход</a>
            </form>
        </div>
    </nav>
    {% endblock %}

    <script src="{% static 'tvk/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>