
{% extends 'tvk/base_generic.html' %}

{% block content %}
    <div class='container-fluid'>
    <div class='row'>
        <form action='{%url "tvk:save_cic"%}' method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <input type='submit' value='Сохранить' />
            <p></p>
            <br>
            <br>
        </form>
        {% if form.id.value != ''%}
            <a href="{%url 'tvk:exam' cic=form.id.value %}" >Проверки</a>
        {% endif %}
        {% if user.access == 1 and form.id.value != '' %}
            <a href="{%url 'tvk:delete_cic' id=form.id.value %}" >Удалить</a>
        {% endif %}
    </div>
    </div>
{% endblock %}